.title {
  position: relative;
  font-size: var(--font-size-9xl);
  font-weight: 600;
  font-family: var(--font-montserrat);
  color: var(--color-darkgray);
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.all2 {
  cursor: pointer;
  border: none;
  padding: var(--padding-3xs);
  background-color: var(--color-gainsboro-200);
  flex: 1;
  border-radius: var(--br-2xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
