.allMeetings {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  padding: var(--padding-5xs) var(--padding-5xs) var(--padding-5xs)
    var(--padding-4xs);
}
